/* importar fuente */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* resetear propiedades navegador */
* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

/* color del fondo */
body{
    background-color: #E8E9ED;
    scroll-behavior: smooth;
}

/* navbar */
.navbar{
    background-color: #252627;
}
.navbar-brand{
    color: #f1f1f3 !important;
    font-size: 40px;
}
.navbar-toggler{
    color: #f1f1f3 !important;
    border: none;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.nav-link{
    color: #f1f1f3 !important;
}
.nav-item{
    margin: 20px;
}

/* Contenido banner */
.jumbotron{
    height: 600px;
    background-image: url(../assets/img/imagen_principal.jpg);
    color: #f1f1f3;
    text-shadow: 0px 1px 4px #000;
    background-position: center;
    background-size: cover;
}
.jumbotron h1{
    padding-top: 85px;
    font-size: 60px;
}

/* Contenido destacado*/
.container{
    padding: 40px 15px;
}

main h1,h2{
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 45px;
    text-shadow: 0px 2px 3px #000;
}

.card{
    box-shadow: 1px 1px 3px #000;
}

.card-body a{
    background-color: #564e58 !important;
    border: none;
}

.card-body a:hover{
    background-color: #252627 !important;
}

.ratio, .embed-responsive-item, .carousel-inner{
    box-shadow: 1px 1px 3px #000;
    border-radius: 15px;
}

.carousel-inner > .carousel-item > img {
    height: 80vh;
    width: 100%;
}


/* Galería de imagenes */
.galeria{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 300px);
    grid-gap: 30px;
}

.item {
    background-position: center;
    background-size: cover;
    box-shadow: 1px 1px 3px #000;
    border-radius: 10px;
    transition: all 0.7s;
    filter: grayscale(100%);
}

.item:hover{
    filter: grayscale(0%);
    transform: scale(1.05);
}

.item1{
    background-image: url(../assets/img/imagen_galeria1.jpg);
}

.item2{
    background-image: url(../assets/img/imagen_galeria2.jpg);
}

.item3{
    background-image: url(../assets/img/imagen_galeria3.jpg);
}

.item4{
    background-image: url(../assets/img/imagen_galeria4.jpg);
}

.item5{
    background-image: url(../assets/img/imagen_galeria5.jpg);
}

.item6{
    background-image: url(../assets/img/imagen_galeria6.jpg);
}

.item7{
    background-image: url(../assets/img/imagen_galeria7.jpg);
}

.item8{
    background-image: url(../assets/img/imagen_galeria8.jpg);
}

/* formulario de contacto */
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 15px;
    box-shadow: 1px 1px 3px #000;
    border-radius: 10px;
}

.formulario button{
    background-color: #564e58 !important;
    border: none;
    font-size: 25px;
    padding: 6px 20px;
    box-shadow: 1px 2px 3px 1px #000;
}

.formulario button:hover{
    background-color: #252627 !important;
}


/* footer */
.pie-pagina{
    background-color: #252627;
    color: #f1f1f3;
}

.pie-pagina .item-1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

.pie-pagina .item-1 .caja figure{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .item-1 .caja figure a i{
    color: #f1f1f3;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.pie-pagina .item-1 .caja h4{
    margin: 10px 0px 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .item-1 .caja p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .item-1 .caja .redes{
    display: flex;
    justify-content:space-evenly ;
    align-items: center;

}
.pie-pagina .item-1 .caja a{
    color: #f1f1f3;
    font-size: 40px;
    margin: 0px 10px 0px 0px;
    text-decoration: none;
}

.pie-pagina .item-2{
    padding: 10px 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.pie-pagina .item-2 i{
    font-size: 20px;
    margin: 0px 10px;
}


/* media queries footer */
@media only screen and (max-width: 480px) {
    .pie-pagina .item-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

/* media queries galería */
@media only screen and (min-width: 480px){
    .galeria{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 300px);
    }
}

@media only screen and (min-width: 768px){
    .galeria{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .item1{
        grid-column: 1/3;
        grid-row: 1/2; 
    }
    .item2{
        grid-column: 3/4;
        grid-row: 1/2; 
    }
    .item3{
        grid-column: 1/2;
        grid-row: 2/3;  
    }
    .item4{
        grid-column: 2/4;
        grid-row: 2/3;  
    }
    .item5{
        grid-column: 1/3;
        grid-row: 3/4; 
    }
    .item6{
        grid-column: 3/4;
        grid-row: 3/4; 
    }
    .item7{
        grid-column: 1/2;
        grid-row: 4/5; 
    }
    .item8{
        grid-column: 2/4;
        grid-row: 4/5; 
    }
}